$background-primary: #262626;
$background-darker: #141414;
$background-lighter: #373737;

$font-primary: #fff;
$font-muted: #8c8c8c;

$border-primary: #333;

$control-background-primary: #6c6c6c;
$control-background-primary-hover: #5f5f5f;
$control-background-secondary: #494949; 
$control-background-secondary-hover: #3c3c3c;

$cta-primary: #ff53a0;
$cta-primary-hover: #ff499a;
$cta-secondary: #d64988;
$cta-secondary-hover: #d44183;

$overlay-primary: rgba(0,0,0,.75);

$brand-primary: #94d500;